*{ border: 1px solid #343f68;


}

body {

  background: #343f68;
  color: #fff;
  padding: 60px;
  font-family: strong-family;
  
}

p{
  border: 1px solid #fc8550;
font-size: 40px;
color: #fc8550; 
background: #193364;

}

h1{ background: #735163;
font-size: 40px;
}

h2{ background: #735163;
font-size: 40px;
border: #193364;
}



p2{ 
  
color: #fc8550
}

a {
  color: orange;
  font-size: 35px;
}

a:hover {
  color: #735163
}